*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
ul{
    list-style-type: none;
}
.body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #CCFEF2 0%, rgba(255, 255, 255, 0) 100%), #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 50%;
    height: 60vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: scroll;
}
.side-nav{
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px 0px 0px 15px;
    padding: 10px 0px 10px 0px;
    transition: all .5s;
}
.pics-cont{
    width: 100px;
    height: 100px;
    background-color: #c4c4c4;
    border-radius: 15px;

}
.side-nav-footer > div{
    width:120px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 15px;
}
.nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.nav-list{
    width: 100%;
}
.nav-list > li {
    width: 100%;
    color: #40CBB2;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-list > li:hover{
    background-color: #FFFFFF;
}
.nav-list > li::before {
    width: 30px;
    height: 30px;
    content: "";
    background-color: #c4c4c4;
}

/* ---------------------------------------------------- */

.payment-view{
    position: relative;
    padding: 10px 10px 10px 20px;
    height: 100%;
    overflow: hidden;
    transition: all .5s;
}
.payment-view-opt{
    display:none;
    transition: all .5s;
}
.active-div{
    display: block;
    transition: all .5s;
}
.name{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    
}
.name > p{
    width: 110px;
    color: #40CBB2;
    line-height: 2;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    font-size: 15px;
    font-weight: lighter;
    padding: 3px 10px;
}
label{
    display: block;
    font-size: 10px;
    line-height: 2;
    color: #000000;
    text-indent: 10px;
    transition: all .5s;
}
input{
    width: 95%;
    height: 45px;
    border: 1px solid red;
    border: 2px solid #F6F6F6;
    color: #737373;
    padding: 10px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 15px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    outline: none;
    transition: all .5s;
}
input:hover {
    border:2px solid #4BE4BF;
}

input:focus {
    border:2px solid #4BE4BF;
}
.expire-cvv{
    display: flex;
}
.expire-cont , .cvv-cont{
    width:50%;
}
#expire , #cvv{
    display: inline-flex;
    width: 90%;
}
.pin{
    width: 40px;
    font-size: 30px;
    background-color: #f7f7f7;
}
.pay{
    position: absolute;
    top: 87%;
    right: 2%;
    width: 100px;
    height: 40px;
    border: 2px solid #6BF7D6;
    background-color: #16D6B3;
    outline: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    border-radius: 15px;
}

/* ................................................ */

.active{
    background-color: #ffffff;
}

/* ........................................................
MEDIA QUARIES
............................................................*/
@media screen and (min-width:768px){
    .main{
        width: 70%;
        height: 70vh;
    }
    .pay{
        top: 85%;
    }
}
@media screen and (max-width:425px){
    .main{
        width: 95%;
        height: 85vh;
        display: block;
    }
    .side-nav{
        padding: 0px;
    }
    .nav{
        height: 50px;
    }
    .nav-list{
        display: flex;
    }
    .pics-cont, .side-nav-footer{
        display: none;
    }
    .pay{
        top: 75%;
    }
}