body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont{
    width: 400px;
    height: 400px;
    border: 1px solid #333333;
    position: relative;
    overflow: hidden;
}
.revealDiv{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    transition: 10s all;

}
button{
    width: 20px;
    height: 20px;
    background-color: #333333;
    color: #fff;
    border: none;
    position: relative;
    top: -20px;
    left: 381px;
    z-index: 5;
    outline: none;
}
.reveal{
    position: relative; 
    transform: translateY(100%);
   /*  left: -1px; */
}