*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    padding: 0%;
    margin: 0%;
}
h1{
    font-size: 4em;
    margin: 0%;
    text-transform: uppercase;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #333333;
    color:#fff;
    padding: 10px;
    text-align: center;
}

#countDown{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(4, 3fr);
    grid-gap: 3px;
}
.yr-mnth, .days, .hours, .mins, .secs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
} 
.days > p, .hours > p, .mins > p, .secs > p{
    font-size: 4em;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
.yr > p, .mnth >p{
    font-size: 2em;
    font-weight: bold;
}
.name{
    color: #ffffff;
    font-size: .5em;
}
.yr-mnth {
    background: #2186FF;
}
.days {
    background: #D87200;
  }
   
  .hours {
    background:  #FF3E41;
  }
   
  .mins {
    background: #FFB20C;
  }
   
  .secs {
    background:  #E10A0A;
  }
 
  @media screen and (max-width:320px){
      h1{
          font-size: 1em;
      }
      .yr >p, .mnth >p, .days > p, .hours > p, .mins > p, .secs > p{
          font-size: 1.5em;
      }
      
  }
  